trading-ig
python-dotenv
pandas
munch
pyarrow
azure-data-tables
azure-storage-blob

# TA-Lib wheels for Windows
https://github.com/cgohlke/talib-build/releases/download/v0.6.8/ta_lib-0.6.8-cp311-cp311-win_amd64.whl