trading-ig==0.0.23
python-dotenv==1.2.2
pandas==3.0.2
munch==4.0.0
pyarrow==23.0.1
azure-data-tables==12.7.0
azure-storage-blob==12.28.0
lightstreamer-client-lib==1.0.3
pre-commit==4.5.1
pytest==9.0.3